{% extends "base.html" %}
{% block content %}
<div>
      <table class="table table-striped">
          <thead class="thead-dark" id="successful-logins">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">API URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Get all accepted</td>
                <td><a href={{ url_for('get_all_accepted', _external=True) }}>{{ url_for('get_all_accepted', _external=True) }}</a></td>
            </tr>
            <tr>
                <td>Get last accepted</td>
                <td><a href={{ url_for('get_last_accepted', _external=True) }}>{{ url_for('get_last_accepted', _external=True) }}</a></td>
            </tr>
            <tr>
                <td>Get all failed</td>
                <td><a href={{ url_for('get_all_failed', _external=True) }}>{{ url_for('get_all_failed', _external=True) }}</a></td>
            </tr>
            <tr>
                <td>Get last failed</td>
                <td><a href={{ url_for('get_last_failed', _external=True) }}>{{ url_for('get_last_failed', _external=True) }}</a></td>
            </tr>
          </tbody>
        </table>
  </div>
{% endblock %}