{% extends "base.html" %}
{% block content %}
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-text mx-auto">
        All failed ssh logins
      </span>
    </nav>
      <table class="table table-striped">
          <thead class="thead-dark" id="failed-logins">
            <tr>
              <th scope="col">Month</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Server</th>
              <th scope="col">Auth type</th>
              <th scope="col">User</th>
              <th scope="col">IP address</th>
              <th scope="col">Port</th>
              <th scope="col">Public key</th>
            </tr>
          </thead>
          <tbody>
              {% for result in ssh_log_failed %}
                  <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                    <td>{{ result[7] }}</td>
                    <td>{{ result[8] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock %}